
<!doctype html>
<html lang="en">
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta charset="UTF-8"/>
<title>Vue demo</title>
</head>
<body>
  <div id="app">
    <p v-show="show">v-show!</p>
    <p v-if="show">v-if!</p>
    <p v-else>v-else!</p>
    <template v-if="show">
      <h1>you can't use show on templates</h1>
      <p>you should opt for v-if for performance, but v-show is useful sometimes because it keeps the item in the dom as a display:none element </p>
    </template>
    <p>but can you see me?</p>
    <button @click="show = !show"> toggle first tab</button>
  </div>


<script>
new Vue({
    el: '#app',
    data:{
        show: true
    }
})

</script>
</body>
</html>
